name = "Projection"
uuid = "19d8bd63-2dc5-407c-b0b5-4c008542f8f5"
authors = ["= <kthompson395@hotmail.com> and contributors"]
version = "0.1.0"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
